<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>Registration succeeded</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container" text-center>

    <div>
        <H3>You have  signed up successfully  </H3>
        <h4><a th:href="@{/login }">Click  here to login</a></h4>
    </div>

</div>


</body>
</html>